<section class="cart py-12">
    <% if(session.cart){ %>
    <div class="order container mx-auto w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="img/cart-black.png" alt="order">
            <h1 class="font-bold text-xl ml-4">Order Summary</h1>
        </div>
        <div class="pizza-list">
            <% for(let pizza of Object.values(session.cart.items)) { %>
            <div class="flex items-center my-8">
                <img class="w-24" src="img/<%= pizza.item.image %>" alt="list">
                <div class="flex-1 ml-4">
                    <h1><%= pizza.item.name%></h1>
                    <span><%= pizza.item.size%></span>
                </div>
                <span class="flex-1"><%= pizza.qty %> pcs</span>
                <span class="text-lg font-bold">৳<%= pizza.item.price * pizza.qty %></span>
            </div>
            <% } %>
        </div>

        <hr>

        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total Amount: </span>
                <span class="amount text-2xl font-bold ml-2">৳<%= session.cart.totalPrice %></span>
            </div>
            <% if(user) { %>
            <div>
                <form action="/orders" method="POST" class="mt-8">
                    <input name="phone" class="border border-gray-400 p-2 w-1/2 mb-4" type="text" placeholder="Phone Number">
                    <input name="address" class="border border-gray-400 p-2 w-1/2" type="text" placeholder="Address">
                    <div>
                        <button class="btn-primary px-6 py-2 text-white font-bold rounded-full mt-6" type="submit">Order Now</button>
                    </div>
                </form>
            </div>
            <% } else { %>
            <a href="/login" class="inline-block cursor-pointer btn-primary px-6 py-2 text-white font-bold rounded-full mt-6">Login to continue</a>
            <% } %>
        </div>
    </div>
    <% } else { %>
    <div class="empty-cart py-6">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Cart Empty 😕</h1>
            <p class="text-lg text-gray-500 mb-12">You Probably haven't ordered a Pizza yet, <br> To order a Pizza go to home </p>
            <img class="w-1/4 mx-auto" src="img/empty-cart.png" alt="empty">
            <a class="inline-block btn-primary px-6 py-2 text-white font-bold rounded-full mt-12" href="/">Go Back</a>
        </div>
    </div>
    <% } %>
</section>